*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
header {
    background: #121212;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 20vh;
    flex-wrap: wrap;
}

.icon {
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
.logo {
    /* border: 2px #fff solid; */
    padding: 5px 10px ;
    border-radius: 5px;
}
.logo a{
    /* background: salmon; */
    display: flex;
    align-items: center;
}
.logo a p {
    color: #fff;
    margin-left: 10px;
    font-family: 'Noto Sans Display', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}
/* code to the input section */
form{
    /* background: rgb(179, 93, 93); */
    width: 65% ;
    padding: 10px 10px;
}
input {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 50px;
    height: 40px;
    width: 85%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
    padding-left: 25px;
    outline: steelblue;
    transition: .2s;
    color: rgb(143, 143, 143);
}
input:hover {

    background: rgb(247, 247, 247);
}
input:focus {
    background: rgb(247, 247, 247);
}
button{
    height: 38px;
    width: 100px;
    outline: none;
    border: 1px solid white;
    transition: .3s;
    background: rgba(220, 20, 60, 0);
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
}
button:hover{
    background: rgb(255, 255, 255);
    color: black;
}
@media screen and (max-width: 1150px ) {
    input {
        width: 70%;
    }
}
@media screen and (max-width: 605px ) {
    form{
        display: flex;
        justify-content: center;
        position: fixed;
        top: 20vh;
        width: 100%;
        background: #121212;
        padding: 50px 0;
    }
    .form2{
        display: none;
    }
    .icon{
        display: block;
    }
}