* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.nav {
    height: 10vh;
    background: rgb(38, 69, 170);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.nav .menu {
    display: flex;
}
.menu li {
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
}
.menu li:hover {
    color: darkgrey;
}